.screen-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--horizontal-space);
    margin-bottom: 15px;
}

.screen-header-title{
    font-size: 32px;
}
.screen-header-icons span{
    margin-left: 25px;
}
.screen-header-reddot{
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: -25px;
}

@keyframes rotatecog{
    from{
        transform: none;
    }
    to{
        transform: rotatez(360deg)
    }
}
.screen-header-icons .fa-gear:hover{
    animation: rotatecog 1s linear infinite;
}