@keyframes emphasis{
    from{
        transform: none;
    }
    to{
        background-color: var(--line-color);
    }
}

.settings-setting{
    padding: 20px 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.settings-setting:hover{
    animation: emphasis 0.2s ease-in-out forwards;
}

.settings-setting i {
    opacity: 0.8;
    margin-right: 20px;
    font-size: 22px;
}
.settings-setting:nth-child(3) i{
    margin-left: -4px;
}
.settings-setting:nth-child(5){
    margin-left: -4px;
}
.settings__setting-column:last-child{
    opacity: 0.7;
}